.upper-header {
    background-color: rgba(13, 11, 11, 0.8);
    z-index: 1;
}

.header{
    background-image: url('img/intro.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: 0;
}